.actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.edit {
    padding: 10px 15px;
    background: #f59e0b;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
}

.delete {
    padding: 10px 15px;
    background: #ef4444;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}