* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background: #111827;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 18px;
    font-size: 14px;
}

.nav-links a:hover {
    color: #60a5fa;
}

.logout {
    color: #f87171;
}

.active {
    color: #60a5fa;
}

/* LAYOUT */
.container {
    display: flex;
    gap: 25px;
    padding: 50px 8%;
    flex-wrap: wrap;
}

/* PROFILE CARD */
.profile-card {
    flex: 1;
    min-width: 300px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.profile-card h2 {
    margin-bottom: 20px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.label {
    font-weight: bold;
    color: #444;
}

.value {
    color: #555;
}

.active {
    color: green;
    font-weight: bold;
}

/* BUTTON */
.btn-edit {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-edit:hover {
    background: #1d4ed8;
}

/* ACTIONS */
.actions-card {
    flex: 1;
    min-width: 250px;
    background: #f9fafb;
    padding: 25px;
    border-radius: 12px;
}

.actions-card h2 {
    margin-bottom: 15px;
}

.action-btn {
    display: block;
    padding: 12px;
    margin-bottom: 12px;
    background: white;
    border-radius: 8px;
    text-decoration: none;
    color: #111827;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: 0.2s;
}

.action-btn:hover {
    transform: translateX(5px);
    background: #eef2ff;
}

.secondary {
    background: #111827;
    color: white;
}

.secondary:hover {
    background: #1f2937;
}

.profile-avatar {
  width: 160px;
  height: 160px;
  border-radius: 80%;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 5px rgb(9, 8, 17, 0.1);
  align-self: center;
  justify-self: center;
}