<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Online Store</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/dropdown.js"></script>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<section class="hero">
    <h1>Welcome to MyStore</h1>
    <p>Discover great products and amazing deals.</p>

    <a href="/products" class="btn">
        Browse Products
    </a>
</section>

</body>
</html>